@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gitH {
  margin-top: 700px;
}
body {
  background-color: #0a0a0a;
  color: white;
  font-family: "Space Mono", monospace;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("./drowing_city.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.name {
  margin-top: 70px;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  background-position: center;
}
.peo {
  text-align: center;
}
.my_photo {
  width: 180px;
  margin-top: 30px;
  border-radius: 50%;
}
h4 {
  margin-bottom: 30px;
}
p {
  margin-bottom: 60px;
}
hr {
  border-top: 2px;
  color: aliceblue;
  margin-bottom: 20px;
}
.fox {
  width: 180px;
  margin-top: 30px;
}
.jj {
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: "Cinzel Decorative", cursive;
}
.ter {
  transform: rotate(89deg);
  margin-top: 55px;
  position: fixed;
  top: 0;
  right: 0;
}
.see {
  width: 80px;
}
p {
  margin-left: 20px;
  margin-right: 20px;
}
.bottom-container {
  margin-bottom: 20px;
}
/*  */

.shirt {
  height: 12px;
  width: 12px;
}
.insta {
  height: 12px;
  width: 12px;
}
.face {
  height: 20px;
  width: 20px;
}
.twit {
  height: 12px;
  width: 12px;
}
.contact-me {
  margin-top: 50px;
}
.in {
  height: 12px;
  width: 12px;
}
.email {
  height: 22px;
  width: 22px;
}
/* animation name */
.ani {
  width: 100px;
  height: 50px;
  font-weight: bold;
  position: relative;
  animation: mymove 13s infinite;
}

.ani {
  animation-timing-function: ease-in-out;
}
@keyframes mymove {
  from {
    left: -5%;
  }
  to {
    left: 100%;
  }
}
.divHr {
  width: 101.17%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
  animation-name: example;
  animation-duration: 0.5s;
  animation-iteration-count: 2000000;
  animation-direction: alternate-reverse;
}
@keyframes example {
  0% {
    background-color: rgb(255, 255, 255);
  }
  25% {
    background-color: rgb(177, 177, 177);
  }
  50% {
    background-color: rgb(104, 104, 104);
  }
  75% {
    background-color: rgb(51, 51, 51);
  }
  100% {
    background-color: rgb(3, 3, 3);
  }
}
.vvv {
  background-color: #24242485; /* Green */
  border: none;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Cinzel Decorative", cursive;
}
.hrBotom{
  width: 101.17%;
  height: 8px;
  background-color: rgb(255, 255, 255);
  position: relative;
  animation-name: hrBoto;
  animation-duration: 2.5s;
  animation-iteration-count: 2000000;
  animation-direction: alternate-reverse; 
}
@keyframes hrBoto {
  0% {
    background-color: rgb(189, 4, 179);
  }
  50% {
    background-color: rgb(0, 247, 255);
  }
  100% {
    background-color: rgb(30, 255, 0);
  }
 
}